@import "tailwindcss";

:root {
  --background: #8dad98;
  --foreground: #241f23;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-jersey-25);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        /* --background: #0a0a0a;
        --foreground: #ededed; */
    }
}

body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-tiny5), var(--font-jersey-25), Arial, Helvetica, sans-serif;
    padding: 10px 10px;
    /* background-image: url('../../public/rainbow1.png'); */
    /* background-size: cover;
    background-repeat: no-repeat; */
}

select, option, button {
    cursor: pointer;
}

nav, main {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.invert-colors {
    background-color: var(--foreground);
    color: var(--background);
}

.grainy-background {
    display: block;
    width: 100%;
    /* height: 100vh; */
    background-image: url(#grainy-noise);
    /* background-image: radial-gradient(ellipse at 35% 0%, #7e63b1 0%, #7e63b100 70%); */
    opacity: 0.3;
    /* position: fixed; */
    z-index: -1;
    inset: 0;
    pointer-events: none;
}

#select-dropdown {
    transition: max-height 0.4s linear, padding 0.4s linear;
}

#nav-dropdown-btn {
    cursor: pointer;
}

#nav-dropdown-btn span {
    position: relative;
}

#nav-dropdown-btn span:before {
    content: '\00a0';
    display: block;
    position: absolute;
    font-size: 20px;
    height: 20px;
    width: 20px;
    background: var(--foreground);
    /* clip-path: polygon(50% 100%, 0 50%, 100% 50%); */
    clip-path: polygon(50% 80%, 0 30%, 100% 30%);
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

.app-tile-anchor .app-image,
.resume-img img.img {
    display: block;
}
.app-tile-anchor .app-image-hover,
.resume-img img.img-hover {
    display: none;
}

.app-tile-anchor:hover .app-image,
.resume-img:hover img.img {
    display: none;
}
.app-tile-anchor:hover .app-image-hover,
.resume-img:hover img.img-hover {
    display: block;
}

/* button */

.button {
    background: var(--foreground);
    border: 2px solid var(--foreground);
    color: var(--background);
    padding: 8px 18px;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.7px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s linear, color 0.2s linear;
}

.button:hover {
    background-color: var(--background);
    color: var(--foreground);
}

.button-inverse {
    background-color: var(--background);
    color: var(--foreground);
}
.button-inverse:hover {
    background-color: var(--foreground);
    color: var(--background);
}

/* general elements */

ol {
    list-style: auto;
    padding-left: 2em;
}


/* dotted underline */

.lined span {
    position: relative;
    display: inline-block;
}

.lined span:after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/dotted.svg');
    background-repeat: repeat;
}